.env
__pycache__/
/.idea/.gitignore
/.idea/BM_telegram_price_tracker.iml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
/.idea/git_toolbox_blame.xml
